body{
    font-family: Arial;
}
h1 {

    margin-top: 5px;
    color: white;
    font-size: 500%
}
h1.black{
    color:black;
}

.box6 {
    border: 1px;
    border-style: solid;
    border-color: aqua;
    height: 100px;
    width: 100px;
    background-color: red;
    text-align: center;
    vertical-align: middle
}

.box8 {
    border: 1px;
    border-style: solid;
    border-color: aqua;
    height: 100px;
    width: 100px;
    background-color: orange;
    text-align: center;
    vertical-align: middle
}

.box5 {
    border: 1px;
    border-style: solid;
    border-color: aqua;
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle
}

.box7 {
    border: 1px;
    border-style: solid;
    border-color: aqua;
    height: 100px;
    margin-top: 0px;
    width: 100px;
    background-color: green;
    text-align: center;
    vertical-align: middle
}

.wrapper1 {
    float: left;
    margin-left: 100px;
    margin-top: 150px;

}


.wrapper2 {

    margin-top: 49px;
    float:left;
}


.wrapper0 {
    background-color: black;
    display: flex;
    border-radius: 30px;
    height: 400px;
    width: 400px;
}